@charset "utf-8";

/**
 * Reset & Base Styles for Dashboard
 */

/* --- RESET --- */

 /* http://meyerweb.com/eric/tools/css/reset/
  * v2.0 | 20110126
  * License: Public Domain
  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/* --- GENERAL STYLES --- */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #444444;
	background-color: #ffffff;
}

a {
	color: #08c;
	text-decoration: none;
}

div.ui-menu-item-wrapper {
	color: #08c;
        font-weight: 400;
        font-size: 13px;
}

a:link {
}

a:visited {
}

a:hover,
a:focus {
	color: #005580;
	text-decoration: none;
}

a:active {
}

p {
	margin-bottom: 12px;
}

p.justified {
	text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 30px;
	line-height: 32px;
}

h2 {
	font-size: 26px;
	line-height: 28px;
}

h3 {
	font-size: 22px;
	line-height: 24px;
}

h4 {
	font-size: 18px;
	line-height: 20px;
}

h5 {
	font-size: 16px;
	line-height: inherit;
}

h6 {
	font-size: 14px;
	line-height: inherit;
}

em {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

blockquote {
	padding: 0 24px;
	margin-bottom: 12px;
}

sub,
sup {
	font-size: 75%;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

ul {
	list-style: disc inside;
	margin: 0 0 12px 18px;
}

ol {
	list-style: decimal outside;
	margin: 0 0 12px 36px;
}

pre {
	font-family: "Courier New", Courier, monospace;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
	margin-bottom: 18px;
}

code, pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
}

pre code {
	margin: 6px auto;
	padding: 4px 8px;
}

code {
	padding: 6px;
}

.required {
	color: #EB2D08;
	font-weight: bold;
}

/* --- STATUS --- */

.status-fail,
.status-alert,
.status-critical,
.status-important,
.fa.fail,
.grid-label-icon.fail {
	color: #EB2D08;
}

.status-success,
.status-running,
.fa.success,
.grid-label-icon.success {
	color: #2FB52C;
}

.status-warning,
.status-loading,
.status-refreshing,
.fa.warning,
.grid-label-icon.warning {
	color: #FF9000;
}

.status-preparing,
.status-saving {
	color: #0096FF;
}

.fa.pause,
.grid-label-icon.pause,
.fa.paused,
.grid-label-icon.paused {
	color: #cccccc;
}

.fa.unknown,
.grid-label-icon.unknown {
	color: #444444;
}

/* - - - BADGES & LABELS - - - */

.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #999999;
}

.label {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.label:empty,
.badge:empty {
  display: none;
}

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label-important,
.badge-important,
.label-important[href],
.badge-important[href],
.label-fail,
.badge-fail,
.label-fail[href],
.badge-fail[href] {
  background-color: #EB2D08;
}

.label-warning,
.badge-warning,
.label-warning[href],
.badge-warning[href] {
  background-color: #FF9000;
}

.label-success,
.badge-success,
.label-success[href],
.badge-success[href] {
  background-color: #2FB52C;
}

.label-info,
.badge-info,
.label-info[href],
.badge-info[href] {
  background-color: #0096FF;
}

.label-info-alt,
.badge-info-alt,
.label-info-alt[href],
.badge-info-alt[href] {
  background-color: #08c;
}


.label-stats,
.badge-stats,
.label-stats[href],
.badge-stats[href] {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	color: #444444;
	text-shadow: none;
}

.label-paused,
.badge-paused,
.label-paused[href],
.badge-paused[href] {
	color: #ffffff;
	background-color: #cccccc;
}

.label-unknown,
.badge-unknown,
.label-unknown[href],
.badge-unknown[href] {
	background-color: #444444;
}


.label-inverse,
.badge-inverse {
  background-color: #222222;
}
.label-inverse[href],
.badge-inverse[href] {
  background-color: #1b1b1b;
}

.label.title {
	font-size: inherit;
	line-height: inherit;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: 900;
}

/* - - - TABLES - - - */

table {
	line-height: normal;
	width: 100%;
}

table, thead, tbody, tr, th, td {
	font-size: 12px;
}

tbody tr:hover {
    /*background-color: #f7f7f7;*/
}

/* - - - BUTTONS - - - */

button,
.button {
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	color: #444444;
	text-shadow: none;
	background-image: none;
	background-color: #f5f5f5;
	border: 1px solid #dddddd;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #b3b3b3;
	white-space: nowrap;
	padding: 5px 12px;
	font-size: 14px;
	line-height: 18px;
	border-radius: 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-shadow: 0 1.5px 3px -1px rgba(0,0,0, 0.35);
	-moz-box-shadow: 0 1.5px 3px -1px rgba(0,0,0, 0.35);
	box-shadow: 0 1.5px 3px -1px rgba(0,0,0, 0.35);
}

.button:hover,
.button:focus,
.button:active,
.button.active,
.button.disabled,
.button[disabled] {
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0, 0.30);
	-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0, 0.30);
	box-shadow: 0 2px 6px 0 rgba(0,0,0, 0.30);
	background-color: #eaeaea;
	color: #666666;
}

.button:active {
	top: 2px;
	left: 2px;
}

.button.active {
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0, 0.35);
	-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0, 0.35);
	box-shadow: 0 2px 3px 0 rgba(0,0,0, 0.35);
}

.button:hover,
.button:focus {

}

.button:focus {
	outline: thin dotted #333;
 	outline: 5px auto -webkit-focus-ring-color;
  	outline-offset: -2px;
}

.button.disabled,
.button[disabled] {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	 -moz-box-shadow: none;
		  box-shadow: none;
}

.button-primary,
.button-success,
.button-alert,
.button-warning {
	color: #ffffff;
	border-color: transparent;
}

.button-primary {
	background-color:#0044cc;
}

.button-primary:hover,
.button-primary:focus,
.button-primary:active,
.button-primary.active,
.button-primary.disabled,
.button-primary[disabled] {
	background-color: #0096FF;
	color: #ffffff;
	border-color: transparent;
}

.button-success {
	background-color: #2FB52C;
}

.button-success:hover,
.button-success:focus,
.button-success:active,
.button-success.active,
.button-success.disabled,
.button-success[disabled] {
	background-color: #4EDB48;
	color: #ffffff;
	border-color: transparent;
}

.button-success:active,
.button-success.active {
}

.button-alert {
	background-color: #EB2D08;
}

.button-alert:hover,
.button-alert:focus,
.button-alert:active,
.button-alert.active,
.button-alert.disabled,
.button-alert[disabled]{
	color: #ffffff;
	border-color: transparent;
	background-color: #B82306;
}

.button-alert:active,
.button-alert.active {
}

.button-warning {
	background-color: #FF7100;
}

.button-warning:hover,
.button-warning:focus,
.button-warning:active,
.button-warning.active,
.button-warning.disabled,
.button-warning[disabled] {
	background-color: #FF9000;
	color: #ffffff;
	border-color: transparent;
}

.button-warning:active,
.button-warning.active {
}

.button-small {
	box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.35);
}

.button-small {
	padding: 2px 10px;
 	font-size: 12px;
}

.button:first-child {
    margin-left: 0;
}

.button + .button {
	margin-left: 6px;
}

.button .caret {
	margin-top: 8px;
  	margin-left: 0;
}

.button-primary .caret,
.button-warning .caret,
.button-alert .caret,
.button-success .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

/* removes box-shadow for X icon buttons */
button.close {
	box-shadow: none;
	border: none;
	padding: 0;
}

.search-button {
	top: -1px;
}

/* - - - FORMS - - - */

.form {
	font-size: 12px;
	position: relative;
	padding: 12px;
	background-color: #ffffff;
}

.form-description,
.form-desc {
	margin-bottom: 12px;
	display: block;
}

.form-column,
.form-row,
.form-item {
	position: relative;
}

.form-column,
.form-item,
.form label,
.radio.inline,
.checkbox.inline,
.radio-options {
	display: inline-block;
}

.radio-options {
	padding: 4px 0;
}

.form-row,
.form-footer {
	clear: both;
}

.form-column {
	vertical-align: top;
	margin-right: 18px;
	width: calc(50% - 20px);
}

.form-row {
	width: 100%;
}

.form-section-row {
	border-bottom: 1px solid #dddddd;
	margin-bottom: 12px;
}

.form-item {
	margin: 0 12px 0 0;
	vertical-align: top;
}

.form label {
	width: 120px;
	vertical-align: middle;
}

.form-item.full,
.form label.full {
	width: 100%;
}

.form label.full {
	display: block;
}

.error label {
	color: #EB2D08;
	font-weight: bold;
}

.error label:before {
	content: "* ";
}

.radio, .checkbox {
    min-height: 20px;
    padding-left: 20px;
}

.form-footer {
	text-align: right;
}

.form-submit {
	margin-bottom: 0;
}

.sub-options {
	margin: 6px 0 6px 24px;
	width: auto;
}

span.form-help {
	display: block;
	background-color: #f7f7f7;
	border: 1px solid #f0f0f0;
	color: #999999;
	font-size: 10px;
	line-height: 12px;
	font-style: italic;
	padding: 2px 4px;
	width: 200px;
	margin-top: 4px;
}

.form-help-wrapper {
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.form-help-wrapper.full {
    display: block;
    width: auto;
}

ul.form-checklist {
    list-style: none outside none;
}

ul.form-checklist li {
    display: inline-block;
    min-width: 240px;
}

/* input styling */

input[type="text"], input[type="password"],
input[type="file"], input[type="datetime"],
input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"],
input[type="week"], input[type="number"],
input[type="email"], input[type="url"],
input[type="search"], input[type="tel"],
input[type="color"], .uneditable-input,
textarea, select, select[multiple] {
	width: 200px;
	padding: 4px;
	border: 1px solid #cccccc;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 18px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	height: 30px;
}

select.width-auto {
	width: auto;
	min-width: 200px;
}

input[type="checkbox"] {
	margin: 3px 8px 3px 4px;
	vertical-align: middle;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="file"]:disabled,
textarea:disabled {
	background-color: #f0f0f0;
	color: #999999;
}

.sub-option input[type="radio"] {
	margin: 0 5px;
}

textarea {
	height: 96px;
	width: 50%;
}

.inline-inputs input,
.inline-inputs select {
	width: auto;
	margin: 2px 0;
}