@charset "utf-8";

/* - - - Grid View Table - - - */

.grid-table-container {
	position: relative;
}

.grid-table {
	width: auto;
	border: none;
}

.grid-table tr,
.grid-table th,
.grid-table td {
	border-bottom: none;
	padding: 0;
	position: relative;
}

.grid-table td,
.grid-table th {
	width: 24px;
	height: 24px;
	min-width: 24px;
}

.grid-table thead th {
	height: 120px;
	vertical-align: bottom;
}

.grid-label,
.grid-label-secondary,
.grid-label-top,
.grid-label-45 {
	margin: 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.grid-label,
.grid-label-secondary {
	height: 20px;
	text-align: right;
	padding-right: 4px;
	vertical-align: middle;
	line-height: 20px;
	font-weight: normal;
}

.grid-label {
	width: 120px;
}

.grid-label-secondary {
	width: 80px;
}

.grid-label:hover,
.grid-label.hovered,
.grid-label-top:hover,
.grid-label-top.hovered {
	color: #999999;
}

.grid-label-top,
.grid-label.legend,
.grid-label-top.legend {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
	vertical-align: baseline;
}

.grid-label-top {
	height: 20px;
	line-height: 24px;
}

.grid-label-45 {
	width: 160px;
	height: 14px;
	font-size: 12px;
	vertical-align: baseline;
	line-height: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	display: block;
	-webkit-transform: rotate(-45deg) translate3d( 0, 0, 0);
	-webkit-transform-origin: 0 0;
	-moz-transform: rotate(-45deg);
	-moz-transform-origin: 0 0;
	-ms-transform: rotate(-45deg);
	-ms-transform-origin: 0 0;
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	transform-origin: 0 0;
	position: absolute;
	text-align: left;
	left: 4px;
	top: 106px;
}

.grid-cell {
	width: 20px;
	height: 20px;
	margin: 2px;
	background-color: #dddddd;
	display: block;
	position: absolute;
	color: #666666;
	border-radius: 3px;
}

.grid-cell.add {
	color: #dddddd;
}

.grid-cell.null {
	background-color: #eeeeee;
}

.grid-cell.success {
	background-color: #2FB52C;
	color:#2FB52C;
}

.grid-cell.warning {
	background-color: #FF9000;
	color:#FF9000;
}

.grid-cell.fail {
	background-color: #EB2D08;
	color: #EB2D08;
}

.grid-cell.maintenance {
    background-color: #aaaaaa;
	color: #ffffff;
}

.grid-cell.unknown {
    background-color: #08c;
	color: #08c;
}

.grid-cell .icon {
	display: block;
	font-size: 16px;
	line-height: 16px;
	position: absolute;
	top: 4px;
	left: 3px;
}

/* -- experimental fixed label styling -- */

#header-fixed {
    position: fixed;
    top: 0;
    display:none;
    background-color: #ffffff;
}

#column-fixed {
	position: absolute;
	left: 0;
	display: none;
	background-color: #ffffff;
}

.grid-view-table thead {
	background-color: #ffffff;
}


/* - - - Search/Select & Agent Select Module - - - */


.selection-module {
    font-size: 0;
    min-width: 520px;
}

.selection-widget-container,
.select-items-list-container,
.selected-items-list-container {
    display: inline-block;
    font-size: 12px;
    position: relative;
    vertical-align: top;
}

.selection-widget {
    padding: 8px;
    position: relative;
}

.selection-widget.groups,
.selection-widget.items {
    float: left;
}

.selection-widget.groups {
    width: 40%;
    padding-right: 0;
    margin-right: -1px;
}

.selection-widget.items {
    width: 60%;
    padding-left: 0;
}

.selection-widget.items.no-groups {
    width: 100%;
    padding-left: 8px;
}

.selected-items-list-container .selection-widget {
    border-left: 1px solid #f0f0f0;
}

.selection-module-header,
.selection-module-footer,
.server-selection {
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding: 6px;
}

.selection-module-footer {
    text-align: right;
}

.selection-module .selection-module-header {
    min-height: 66px;
}

.selection-module .selection-module-footer {
    min-height: 38px;
}

.selection-module-header .title,
.server-selection .title {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.selection-module-header .title.label,
.server-selection .title.label {
    margin-bottom: 4px;
}

.server-selection {
    display: inline-block;
    font-size: 12px;
    position: relative;
    vertical-align: top;
    width: 100%;
    min-height: 84px;
}

.selection-module-header .title,
.server-selection .title,
.selection-list-item {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selection-list-container {
    max-height: 179px;
    min-height: 179px;
    overflow: auto;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    width: 100%;
    background-color: #ffffff;
}

.selection-list {
    list-style: none outside none;
    margin: 0;
}

.selection-list.selected-items-list {
    overflow-y: auto;
    padding: 0 4px 4px 4px;
}

.selection-list-item,
.selected-item {
    position: relative;
    border-bottom: 1px solid #dddddd;
    padding: 6px 6px 6px 9px;
    overflow: hidden;
    height: 30px;
    border-top: none;
}

.selection-list-item:last-child,
.selected-item:last-child {
    border-bottom: none;
}

.selection-list-item:hover,
.selection-list-item.hover {
    background-color: #f0f0f0;
    color: #08c;
    cursor: pointer;
}

.selection-list-item.selected {
    background-color: #08c;
    color: #ffffff;
}

.selection-list-item.disabled {
    background-color: #f0f0f0;
    opacity: 0.6;
}

.selection-list-item.disabled:hover {
    cursor: default;
    color: #444444;
}

.selection-list-item .fa,
.selected-item .fa {
    padding: 0 2px;
}

.selection-list-item .fa-circle,
.selected-item .fa-circle {
    padding: 1px 4px 1px 2px;
}

.selected-item {
    padding-right: 32px;
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-item.selected {
    display: list-item;
}

.selected-item:hover {
    background-color: #ffffff;
    cursor: default;
}

.selected-item .fa.fa-times {
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
    color: #666666;
    cursor: pointer;
}

.selected-item .fa.fa-times:hover {
    color: #999999;
}

.selection-widget label {
    display: inline-block;
    min-width: 120px;
    margin-right: 4px;
}

.selection-list-container.select-groups {
    background-color: #f5f5f5;
}

.selection-list-item .fa  {
    padding: 0 2px;
}

.selection-list-item .fa-circle {
    padding: 1px 4px 1px 2px;
}

.maintenance-status-toggle {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 0 1px;
    cursor: pointer;
    border-radius: 2px;
    position: absolute;
    right: 16px;
}

.maintenance-status-toggle:hover {
    background-color: #dddddd;
}

.maintenance-status-active .maintenance-status-toggle {
    color: #ffffff;
    background-color: #08c;
}

.maintenance-status-active .maintenance-status-toggle:hover {
    color: #ffffff;
    background-color: #08c;
}